{% extends 'loginbase.html' %}

{% block css %}
#loginform{
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.post-form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#loginbtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #459e6b;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
p {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

a {
  color: #4CAF50;
  text-decoration: none;
}
{% endblock %}

{% block content %}
 <div class="container my-3" id ="loginform" >
    <form method="post" class="post-form" action="{% url 'common:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <label for="username">User ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}" placeholder="Enter your ID">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}" placeholder="Enter your Password">
        </div>
        <button type="submit" class="btn btn-primary" id="loginbtn">login</button>
        <p class="message">Not registered? <a href="/users/signup/">Create an account</a></p>
    </form>
</div>
{% endblock %}